<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" default-init-method="myInit" default-destroy-method="myDestroy">

	<bean id="triangle" class="com.madhav.demo11.Triangle" init-method="myInit" destroy-method="myDestroy">
		<property name="type" value="equilateral"/>
	</bean>
	
	<bean id="p1" class="com.madhav.demo11.Point">
		<property name="x" value="20"/>
		<property name="y" value="20"/>
	</bean>
	<bean class="com.madhav.demo11.DisplayNameBeanPostProcessor"/>
</beans>