<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="triangle" class="com.madhav.demo9.Triangle" autowire="byName">
	</bean>
	
	<bean id="pointA" class="com.madhav.demo9.Point">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>

</beans>