<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="triangle" class="com.madhav.demo5.Triangle">
		<property name="pointA" ref="zeroPoint"/>
		<property name="pointB">
			<bean class="com.madhav.demo5.Point">
				<property name="x" value="10"/>
				<property name="y" value="0"/>
			</bean>
		</property>
		<property name="pointC">
			<bean class="com.madhav.demo5.Point">
				<property name="x" value="0"/>
				<property name="y" value="-10"/>
			</bean>
		</property>
	</bean>
	<bean id="zeroPoint" class="com.madhav.demo5.Point">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>
</beans>